{% extends "base.html" %}

{% block page_title %}
<h2>Search Result</h2>
{% endblock page_title %}

{% block page_content %}
{% if students %}
<ul>
    {% for student in students %}
    <li>
        <a href="{% url 'student_detail' student.pk %}">{{ student.first_name }} {{ student.last_name }}</a> -
        {{ student.email }}
    </li>
    {% endfor %}
</ul>

{% else %}
<p>No student found.</p>

{% endif %}

<p><a href="{% url 'student_list' %}">Back to Student List</a></p>
{% endblock page_content %}