<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Student Management System</title>
    <!-- <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
</head>

<body>
    <header>
        <h2>Student Management System</h2>
        <nav>
            <style>
                nav {
                    display: flex;
                    justify-content: space-between;
                }

                .auth-links {
                    margin-left: auto;
                }
            </style>

            <div class="nav-links">
                <a href="{% url 'student_list' %}">Student List</a>
                <a href="{% url 'student_add' %}">Add Student</a>
            </div>
            <div class="auth-links">
                {% if user.is_authenticated %}
                <span>User: {{ user.username }}</span>
                <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <a href="#" onclick="document.getElementById('logout-form').submit()">Logout</a>
                </form>
                {% else %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <hr>
    {% block page_title %}{% endblock %}
    {% block page_content %}{% endblock %}
</body>

</html>